{% block content %}
    <div class="container">
        <h1>Deletar Tarefa</h1>
        
        <p>Tem certeza que deseja deletar a tarefa <strong>{{ object.nome_tarefa }}?</strong></p>
        
        <form method="post" class="form-deletar">
            {% csrf_token %}
            <div class="button-container">
                <button type="submit" class="btn-deletar">Deletar tarefa</button>
                <a href="{% url 'atualizar' pk=object.pk %}" class="btn-editar">Editar Tarefa</a> 
                <a href="{% url 'lista' %}" class="btn-cancelar">Cancelar</a>
            </div>
        </form>
    </div>

    <style>
        body {
            font-family: Arial, sans-serif;
            background-color: #f9f9f9;
            margin: 0;
            padding: 20px;
            color: #333;
            display: flex;
            justify-content: center;
            align-items: center;
            height: 100vh;
        }

        .container {
            width: 100%;
            max-width: 400px;
            background-color: #ffffff;
            padding: 20px;
            border: 2px solid #d9534f; 
            border-radius: 8px;
            box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
            text-align: center; 
        }

        h1 {
            color: #d9534f; 
            margin-bottom: 20px;
        }

        p {
            color: #333; 
            margin-bottom: 20px;
        }

        .button-container {
            display: flex;
            justify-content: space-around; 
        }

        .btn-deletar {
            padding: 10px 20px;
            background-color: #d9534f; 
            color: white; 
            border: none; 
            border-radius: 4px;
            cursor: pointer; 
        }

        .btn-deletar:hover {
            background-color: #c9302c; 
        }

        .btn-editar {
            padding: 10px 20px;
            background-color: #007BFF; 
            color: white; 
            text-decoration: none; 
            border-radius: 4px; 
        }

        .btn-editar:hover {
            background-color: #0056b3; 
        }

        .btn-cancelar {
            padding: 10px 20px;
            background-color: #4CAF50; 
            color: white; 
            text-decoration: none; 
            border-radius: 4px; 
        }

        .btn-cancelar:hover {
            background-color: #45a049;
        }
    </style>
{% endblock %}
